# Include only the specified files in the source distribution
include LICENSE.txt
include MANIFEST.in
include pyproject.toml
include README.md
include setup.cfg

# Include everything in the cons source directory
recursive-include cons *

# Exclude unwanted directories and files
prune .github
prune tests
prune .pytest_cache
prune .ropeproject
prune .venv
prune __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude .git*
global-exclude .coverage
global-exclude coverage.xml
global-exclude testing-report.html
global-exclude Makefile
global-exclude requirements.txt
global-exclude .pre-commit-config.yaml
global-exclude .pylintrc
global-exclude .DS_Store
global-exclude __pycache__
